<div class="signCapture">
  <div class="signCapture__header">
    <button [class.selected]="selected === 'camera'" (click)="select('camera')">
      Camera
    </button>
    <button
      [class.selected]="selected === 'history'"
      (click)="select('history')"
    >
      History
    </button>
  </div>
  <div class="signCapture__body">
    @if (selected === 'camera') {
    <div class="signCapture__body__camera">
      <app-sign-camera (translationChanged)="onTranslationChanged($event)"></app-sign-camera>
    </div>
    } @else if (selected === 'history') {
    <div class="signCapture__body__history">
      <div class="signCapture__body__history">
        <p>History</p>
      </div>
      <!-- <app-sign-history></app-sign-history> -->
    </div>

    }
  </div>
  <div class="signCapture__footer">
    <button class="signCapture__footer__button__start" (click)="activarCamara()">Start</button>
    <button class="signCapture__footer__button__reset" (click)="desactivarCamara()">Reset</button>
  </div>
</div>
